export(read_sensor_data)
export(format_sun_times)
export(format_sensor_data)
export(calculate_means)
importFrom("stringr", "str_split_fixed")
importFrom("dplyr", "inner_join")
importFrom("stats", "aggregate", "na.omit", "sd")
importFrom("utils", "head", "read.csv")